
.navApp {
  background-color: #f9fbfc;
  color: rgba(22, 62, 170, 0.884);
  font-size: 20px;
  padding: 20px;
  border-bottom: 7px rgb(9, 55, 92) ;
}

#name {
  font-size: 25px;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(9, 18, 46, 0.37);
}



.card-header {
  border-top: 5px solid rgb(9, 55, 92);
  border-left: 5px solid rgb(9, 55, 92);
  border-right: 5px solid rgb(9, 55, 92));
}

.card-body {
  border-left: 5px solid rgb(9, 55, 92);
  border-bottom: 5px solid rgb(9, 55, 92);
  border-right: 5px solid rgb(9, 55, 92);
}

.aboutApp, .portfolioApp, .contactApp, html {
  background-color: rgb(12, 75, 170);
}
